<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="/scripts/path.js"></script>
    <!-- <script src="/scripts/gameController.js"></script> -->
    <!-- <script type="text/javascript" src="../scripts/canvastest.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3/dist/interact.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="/style/lessons/mobile-demo-4.css">
    <title></title>
  </head>
  <body>


<div class="mainNav">
  <ul class="mainMenu">
    <li><a href="/profile/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 1 inicio inativo.svg" alt="nav branca - 1 inicio.svg">Início</a></li>
    <li><a class="mainActive" href="/lessons/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 2 trilha ativo.svg" alt="nav branca - 2 trilha.svg">Trilha</a></li>
    <li><a href="/builder/<%= foundUser._id %>"><img src="/images/icons/nav roxa - 3 construtor inativo.svg" alt="nav branca - nav branca - 3 construtor.svg">Construtor</a></li>
    <li><a href="/projects/all"><img src="/images/icons/nav roxa - 4 projetos inativo.svg" alt="nav branca - 4 projetos.svg">Projetos</a></li>
    <div class="mainRight">
      <li><%= foundUser.firstName%> <%= foundUser.lastName %> | <%= foundUser.score.xp%></li>
      <li>
        <img id="imgProfile" src="/images/profile_default.png" alt="profile_default.png">
        <button id="dropBtn" type="button" name="button">
          <img id="dropBtnIcon" src="/images/icons/expande perfil.svg" alt="expande perfil.svg">
        </button>
        <div class="dropdownContent">
          <a href="/user/profile">Profile</a>
          <hr>
          <a href="/auth/logout">Logout</a>
        </div>
      </li>
    </div>
  </ul>
</div>


<div class="row">
  <div class="leftContainer">
    <div class="textContainer">
      <h1>Fase 4</h1>
      <p>Arraste o Título para dentro do card e posicione-o logo a abaixo da foto.<br>
        Para alterar este texto que não faz sentido nenhum, basta dar dois cliques depois que você posicioná-lo.<br>
        <b>Escolha uma descrição para o planeta do primeiro card</b>
      </p>
    </div>
    <div id="designArea">
      <div class="sessionTitle">
        <h3>Texto</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designCathegory">
        <p id="materialText" draggable="True" ondragstart="drag(event)">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  <div class="rightContainerMainDiv">
    <div class="pagination">
      <a href="/lessons/<%= foundUser._id%>">0</a>
      <a href="/lessons/demo/mobile/1">1</a>
      <a href="/lessons/demo/mobile/2">2</a>
      <a href="/lessons/demo/mobile/3">3</a>
      <a class="active" href="/lessons/demo/mobile/4">4</a>
      <a href="/lessons/demo/mobile/5">5</a>
      <a href="/lessons/demo/mobile/6">6</a>
      <a href="/lessons/demo/mobile/7">7</a>
      <a href="/lessons/demo/mobile/8">8</a>
      <a href="/lessons/demo/mobile/9">9</a>
      <a href="/lessons/demo/mobile/10">10</a>
    </div>
    <div class="charSpeech">
        <p id="rewardDescription">
          Ao concluir você irá ganhar: <b>10 pontos de EXP</b> e 10% de evolução em <b>UI/UX</b>
        </p>
      <div class="centerBtnContainer">
        <button class="btn btn-primary" id= "btnRun"type="button" onclick="checkUi()" name="button">Executar</button>
      </div>
    </div>
    <div class="charContainer">
      <img id="astronaut" src="/images/lesson-assets/personagens/Charac_F-S01-Idle_0.png" alt="astronaut">
    </div>
    <div class="phoneContainer">
      <img src="/images/celular_mockup.png" alt="phone image">
      <div class="rightContainer" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp draggableAsset" id="cvsWhiteCard" data-x="10.65234375" data-y="60.0390625" style="transform: translate(10.6523px, 60.0391px);">
          <div id="cvsMaterialImageContainer"><img class="draggableAsset" id="cvsMaterialImage" src="/images/lesson-assets/planetas/mercury.png" alt="placeholder.png" data-x="32.00006103515625" data-y="-70" style="transform: translate(32.0001px, -70px);"></div>
        <h5 class="draggableAsset" id="cvsMaterialTitle" data-x="10.12890625" data-y="41.2109375" style="transform: translate(10.1289px, 41.2109px);">Mercúrio</h5>
      </div>
      </div>
      </div>
    </div>
    <div class="bottomButtons">
      <div class="rightBtnContainer">
      </div>
    </div>
  </div>




  <xml id="toolbox" style="display: none">
      <category name="Controle" colour="230">
        <block type="move_astronaut_right"></block>
      </category>
  </xml>
</div>

<!-- The Modal form Builder-->
<div class="modal" id="correctModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/lessons/demo/2" method="GET">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Excelente!</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


        <!-- Modal body -->
        <div class="modal-body">
          <img src="/images/popup - xp10.png" alt="popup - xp10.png">
          <p>Você acertou e ganhou 10 pontos de EXP! <br> Vamos para a proxima fase?</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="wrongModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/lessons/demo/1" method="GET">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Ops!</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


        <!-- Modal body -->
        <div class="modal-body">
          <img src="/images/popup - alert vermelho.png" alt="popup - alert vermelho.png">
          <p>Resposta Errada! <br> Vamos tentar novamente?</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" id="editTitleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Editar Título</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


        <!-- Modal body -->
        <div class="modal-body">
          <p>Novo Texto</p><br>
          <input id="newTextInput" type="text" name="title" value="">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" onclick="changeText()" class="btn btn-primary">OK</button>
        </div>
    </div>
  </div>
</div>






<!-- BLockly workspace script -->
    <script>
      var blocklyArea = document.getElementById('blocklyArea');
      var blocklyDiv = document.getElementById('blocklyDiv');
      var workspace = Blockly.inject(blocklyDiv,
        {toolbox: document.getElementById('toolbox')});
      var onresize = function(e) {
    // Compute the absolute coordinates and dimensions of blocklyArea.
        var element = blocklyArea;
        var x = 0;
        var y = 0;
        do {
          x += element.offsetLeft;
          y += element.offsetTop;
          element = element.offsetParent;
        } while (element);
      // Position blocklyDiv over blocklyArea.
        blocklyDiv.style.left = x + 'px';
        blocklyDiv.style.top = y + 'px';
        blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
        blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
        Blockly.svgResize(workspace);
      };
      window.addEventListener('resize', onresize, false);
      onresize();
      Blockly.svgResize(workspace);

    </script>



<script>

//=======================DRAGABLE INTERACT ==================================

//JSInteraction Functions
interact('.draggableAsset')
  .draggable({
    // enable inertial throwing
    inertia: false,
    // keep the element within the area of it's parent
    restrict: {
      restriction: "parent",
      endOnly: true,
      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
    },
    // enable autoScroll
    autoScroll: true,

    // call this function on every dragmove event
    onmove: dragMoveListener,
    // call this function on every dragend event
    onend: function (event) {
      var textEl = event.target.querySelector('p');

      textEl && (textEl.textContent =
        'moved a distance of '
        + (Math.sqrt(Math.pow(event.pageX - event.x0, 2) +
                     Math.pow(event.pageY - event.y0, 2) | 0))
            .toFixed(2) + 'px');
    }
  });

  function dragMoveListener (event) {
    var target = event.target,
        // keep the dragged position in the data-x/data-y attributes
        x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
        y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

    // translate the element
    target.style.webkitTransform =
    target.style.transform =
      'translate(' + x + 'px, ' + y + 'px)';

    // update the posiion attributes
    target.setAttribute('data-x', x);
    target.setAttribute('data-y', y);

    var targetString = target.toString();
    console.log(targetString, "target String!");

    console.log(x, 'Drag Move X!');
    console.log(target, 'TARGET dot ID');
    console.log(appendedAssets[1], "appendedAssets on interact");

  }

//Double Tap / Long Tap

interact('.tap-target')
  .on('doubletap', function (event) {
    event.preventDefault();
    showEditWindow();
  })
  .on('hold', function (event) {
    console.log("hold event Called!");
  });


//CHECKING ANSWER====================================================================
// function checkCode(){
//   runCode();
//   var code = Blockly.JavaScript.workspaceToCode(workspace);
//   var newCode = code.replace(/[^a-zA-Z]/g, "");
//   var rightAnswer = 'astronaut.moveRight();astronaut.moveRight();'
//   var newRightAnswer =   rightAnswer.replace(/[^a-zA-Z]/g, "");
//
//
//   if(newCode == newRightAnswer) {
//     setTimeout(function(){$('#correctModal').modal('show')}, 2000) // initializes and invokes show immediately
//   }else {
//     console.log('WRONG ANSWER');
//     setTimeout(function(){ $('#wrongModal').modal('show') }, 2000);
//   }
//   console.log(code);
// }

function checkUi () {
  console.log("checkUi called!");
  // console.log(rightAnswer, "This is rightAnswer");
}




//======================= JAVASCRIPT TAB CODE  ======================================


  $('#jsBtn').on('click', function (e) {
    e.preventDefault()
    console.log('JavaScript Tab was clicked');
    // Generate JavaScript code and display it.
    Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
    Blockly.JavaScript.addReservedWords('code');
    var code = Blockly.JavaScript.workspaceToCode(workspace);
    // alert(code);
    $('#jsCode').html(`${code}`)
  })



  $('#myProjectsTab').hide()

  $('#galleryBtn').click(function(){
    $('#allProjectsTab').show();
    $('#myProjectsTab').hide()
  })

  $('#myProjectsBtn').click(function(){
    $('#allProjectsTab').hide();
    $('#myProjectsTab').show()
  })


  $('#dropBtn').click(function(){
    console.log('dropBtn clicked');
    $('.dropdownContent').addClass('show')
  })

  $(window).click(function(e) {
    console.log(e.target, 'e.target.class');
    if(e.target.id != ('dropBtn' || 'dropBtnIcon')) {
      console.log('this is not dropBtn');
      $('.dropdownContent').removeClass('show')
    }else{
      console.log('this is dropBtn');
    }
  })

  function changeImage(){
    alert('changeImage called!')
  }


  //=========== BUILDER NAVBAR (BLOCKLY/ JS / DESIGN ) HIDE AND SHOW LOGIC ============


    // $('#designArea').hide();
    //=======================DRAG AND DROP FUNCTIONS ==================================

    //-------- Array of Assets Objects


    const assetsArray = [
      {ref: 'materialText', id: 'cvsMaterialText', class: 'draggableAsset', cathegory: 'text', html:'<p class="draggableAsset tap-target" id="cvsMaterialText" draggable="True" ondragstart="drag(event)">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'}
    ]
    const appendedAssets = [];


    function drag(e) {
      console.log('drag called');
      e.dataTransfer.setData('asset', e.target.id)
    }

    function drop(e) {
      console.log(e, 'this is the Event Object');
      e.preventDefault();
      var posX = e.layerX;
      var posY = e.layerY;
      console.log('posX == ', posX);
      console.log('posY == ', posY);
      var data = e.dataTransfer.getData('asset')
      var assetHtml = getHtml(data, posX, posY);
      console.log(assetHtml, 'this is asset Html');
      addItems(assetHtml);
      appendedAssets.push(assetHtml);
      console.log(appendedAssets[0], 'All Assets');
    }

    var addItems = function(html) {
      var $html = $(html);
      $('#cvsWhiteCard').append($html)
    }

    function getHtml(data, posX, posY){
      console.log(data, 'This is passed data');
      console.log('getHtml called');
      for (var i = 0; i < assetsArray.length; i++) {
        console.log(assetsArray[i].ref, 'assetsArray[i] id');
        if(assetsArray[i].ref === data){
          if(assetsArray[i].cathegory === 'background'){
            var newHtml = assetsArray[i].html
          }else{
            var foundAsset = assetsArray[i];
            // var newHtml = `${foundAssetHtml}style="position:absolute; top:${posX}px; right:${posY}px">`
            var newHtml = foundAsset.html
          }
        }
      }
      return newHtml;
    }

function allowDrop(e) {
  console.log('allow drop called!');
  e.preventDefault();
}

//Text Container Edition
function showEditWindow() {
  console.log('show Edit Window clicked!');
  $('#editTitleModal').modal('show');
}

function changeTitle() {
  console.log('chageTitle called!');
  var newTitleText = document.getElementById('newTitleInput').value;
  document.getElementById('cvsMaterialTitle').outerHTML = `<h5 class="draggableAsset tap-target" id="cvsMaterialTitle">${newTitleText}</h5>`;
  console.log(TitleElement, 'title element');
}

function changeText() {
  console.log('changeText called!');
  var newTextParagraph = document.getElementById('newTextInput').value;
  document.getElementById('cvsMaterialText').outerHTML = `<p class="draggableAsset tap-target" id="cvsMaterialText" draggable="True" ondragstart="drag(event)">${newTextParagraph}</p>`
}





</script>

<script>

//BLockly FUNCTIONS

const astronaut = {
  moveRight: function() {
      console.log('moveRight function called!');
      var target = document.getElementById('astronaut'),
      x = (parseFloat(target.getAttribute('data-x') || 0) + 200),
      y = parseFloat(target.getAttribute('data-y') || 0);


      target.style.webkitTransform =
      target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)';
      target.style.transition = '1s'

      document.getElementById('astronaut').setAttribute('data-x', x)
      document.getElementById('astronaut').setAttribute('data-y', y)
  }

</script>

<!-- Bootstrap Scripts  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
