<% include partials/_head %>
<link rel="stylesheet" href="/style/gallery.css">




<div class="jumbotron">
  <h1 class="display-4">Galeria de Projetos</h1>
  <p class="lead">Aqui você pode encontrar projetos incriveis criados no nosso Construtor!</p>
  <hr class="my-4">
  <p>Acesse agora mesmo o Construtor e comece a criar os seus próprios projetos para publicá-los aqui e compartilhar com as pessoas que você gosta! 😜 </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/builder" role="button">Construtor</a>
  </p>
</div>

<div class="projectContainer">
  <% if (allProjects) { %>
    <% console.log(allProjects, 'THIS ARE ALLL PROJECTS FOLKS') %>
    <% for (let i = 0; i < allProjects.length ; i++) { %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/placeholder.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title"><%= allProjects[i].name%></h5>
        <p class="card-text">Project Id: <%= allProjects[i]._id%></p>
        <div class="cardForm">
        <form action='/builder/edit/<%=projects[i]._id%>?' method='GET'>
          <button class="btn btn-secondary" type='submit'> Edit </button>
        </form>
        <form action='/projects/<%=allProjects[i]._id%>?_method=DELETE' method='POST'>
          <button class="btn btn-danger" type='submit' name='deleProject' value='<%= i %>'> Delete </button>
        </form>
        </div>
        </div>
      </div>
    <%}%>

  <% } %>
</div>
