<% include partials/_head %>
<link rel="stylesheet" href="/style/gallery.css">
<script src="https://smtpjs.com/v3/smtp.js"></script>




<div class="mainNav">
  <ul class="mainMenu">
    <li><a href="/profile/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 1 inicio inativo.svg" alt="nav branca - 1 inicio.svg">Início</a></li>
    <li><a href="/lessons/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 2 trilha inativo.svg" alt="nav branca - 2 trilha.svg">Trilha</a></li>
    <li><a href="/builder/<%= foundUser._id %>"><img src="/images/icons/nav roxa - 3 construtor inativo.svg" alt="nav branca - nav branca - 3 construtor.svg">Construtor</a></li>
    <li><a class="mainActive" href="/projects/all"><img src="/images/icons/nav roxa - 4 projetos ativo.svg" alt="nav branca - 4 projetos.svg">Projetos</a></li>
    <div class="mainRight">
      <li><%= foundUser.firstName%> <%= foundUser.lastName %> | <%= foundUser.score.xp%> Pontos</li>
      <li>
        <img id="imgProfile" src="/images/profile_default.png" alt="profile_default.png">
        <button id="dropBtn" type="button" name="button">
          <img id="dropBtnIcon" src="/images/icons/expande perfil.svg" alt="expande perfil.svg">
        </button>
        <div class="dropdownContent">
          <a href="/user/profile">Profile</a>
          <hr>
          <a href="/auth/logout">Logout</a>
        </div>
      </li>
    </div>
  </ul>
</div>




<div class="galleryNav">
  <ul class="galleryNavMenu">
    <li><a class="btnGalleryNav" id="galleryBtn" href="#">Galeria</a></li>
    <li><a class="btnGalleryNav" id="myProjectsBtn" href="#">Meus Projetos</a></li>
  </ul>
</div>





<!-- Hight Light Projects Container -->


<!-- All Projects Container -->


<div id="allProjectsTab">
  <!-- HightLight Project Container -->
  <div class="sessionTitle">
    <h3>Destaques</h3>
    <div class="sessionTitleSubline"></div>
  </div>
  <div id="hightLightProjectsContainer">
    <% if (allProjects) { %>
          <% for (let i = 0; i < allProjects.length ; i++) { %>
            <div class="hightLightProjectCard">
              <div class="hightLightPrjCardHeader">
                <!-- <div class="cardHeaderText"> -->
                  <p class="cardHeaderTitle"><%= allProjects[i].name%></p>
                  <div class="cardHeaderSubLine"></div>
                  <p class="cardHeaderCathegory">Games</p>
                <!-- </div> -->
              </div>
              <img src="/images/project-print-2.png" alt="project-print.png">
              <div class="cardButtons">
                <a href="#" data-toggle="modal" data-target="#myModal" onclick="shareProject('<%= allProjects[i]._id%>')"><img class="shareIcon" src="/images/icons/compartilhar.svg" alt="compartilhar.svg"></a>
              </div>
            </div>
          <% } %>
        <% } %>
  </div>

  <!-- All Projects Container -->
  <div class="sessionTitle">
    <h3>Todos</h3>
    <div class="sessionTitleSubline"></div>
  </div>
  <div id="allProjectsContainer">
    <% if (allProjects) { %>
          <% for (let i = 0; i < allProjects.length ; i++) { %>
            <div class="projectCard">
              <div class="prjCardHeader">
                <!-- <div class="cardHeaderText"> -->
                  <p class="cardHeaderTitle"><%= allProjects[i].name%></p>
                  <div class="cardHeaderSubLine"></div>
                  <p class="cardHeaderCathegory">Games</p>
                <!-- </div> -->
              </div>
            </div>
          <% } %>
        <% } %>
  </div>
</div>

<!-- My Projects Container -->


<div id="myProjectsTab">
  <div class="sessionTitle">
    <h3>Meus Projetos</h3>
    <div class="sessionTitleSubline"></div>
  </div>
  <div id="allProjectsContainer">
    <% if (allProjects) { %>
          <% for (let i = 0; i < allProjects.length ; i++) { %>
            <div class="myProjCard">
              <div class="myProjImg">
                <img src="/images/project-print-2.png" alt="project-print.png">
              </div>
              <div class="myProjDescription">
                <p class="myProjTitle"><%= allProjects[i].name%></p>
              </div>
              <div class="myProjButtons">
                <form action='/builder/edit/<%=projects[i]._id%>?' method='GET'>
                  <button id="btnEdit" type='submit'> Editar </button>
                </form>
                <form action='/projects/<%=allProjects[i]._id%>?_method=DELETE' method='POST'>
                  <button id="btnDelete" type='submit' name='deleteProject' value='<%= i %>'> Delete </button>
                </form>
              </div>
            </div>
          <% } %>
        <% } %>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Compartilhar Projeto</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


        <!-- Modal body -->
        <div class="modal-body">
          <p>Adicione o nome do destinatário:</p>
          <input id="toName" type="text" name="name" value="">
          <p>Adicione o e-mail do destinatário:</p>
          <input id="toEmail" type="text" name="email" value="">
          <input id="projectId" type="hidden" name="projectId">


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="sendEmail(document.getElementById('toName').value, document.getElementById('toEmail').value, document.getElementById('projectId').value) ">Enviar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#myProjectsTab').hide()

  $('#galleryBtn').click(function(){
    $('#allProjectsTab').show();
    $('#myProjectsTab').hide()
  })

  $('#myProjectsBtn').click(function(){
    $('#allProjectsTab').hide();
    $('#myProjectsTab').show()
  })


  $('#dropBtn').click(function(){
    console.log('dropBtn clicked');
    $('.dropdownContent').addClass('show')
  })

  $(window).click(function(e) {
    if(e.target.id != ('dropBtn' || 'dropBtnIcon')) {
      $('.dropdownContent').removeClass('show')
    }
  })



var sendEmail = function(name, email, id) {
  Email.send({
    Host : "smtp.office365.com",
    Username : "cesar.martins@happycodeschool.com",
    Password : "Help789&*(",
    To : email,
    From : "cesar.martins@happycodeschool.com",
    Subject : "App Code | E-mail teste",
    Body : `Olá, ${name}! Olhe o projeto que o que alguém especial compartilhou com você! Acesso o link: https://limitless-thicket-77273.herokuapp.com/builder/edit/${id} `
  }).then(
  setTimeout(location.reload(), 3000),
  );
}

//function that attributes the value of the Id of the clicked Project to the input which will be used to send the Email.
function shareProject(params) {
  document.getElementById('projectId').value = params
  console.log(document.getElementById('projectId'), ' THIS IS PROJECT ID FIELD!');
}

</script>




<!-- Bootstrap Scripts  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
