<% include partials/_head %>
<link rel="stylesheet" href="/style/path.css">



<div class="mainNav">
  <ul class="mainMenu">
    <li><a href="/profile/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 1 inicio inativo.svg" alt="nav branca - 1 inicio.svg">Início</a></li>
    <li><a class="mainActive" href="/lessons/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 2 trilha ativo.svg" alt="nav branca - 2 trilha.svg">Trilha</a></li>
    <li><a href="/builder/<%= foundUser._id %>"><img src="/images/icons/nav roxa - 3 construtor inativo.svg" alt="nav branca - nav branca - 3 construtor.svg">Construtor</a></li>
    <li><a href="/projects/all"><img src="/images/icons/nav roxa - 4 projetos inativo.svg" alt="nav branca - 4 projetos.svg">Projetos</a></li>
    <div class="mainRight">
      <li><%= foundUser.firstName%> <%= foundUser.lastName %> | <%= foundUser.score.xp%> Pontos</li>
      <li>
        <img id="imgProfile" src="/images/profile_default.png" alt="profile_default.png">
        <button id="dropBtn" type="button" name="button">
          <img id="dropBtnIcon" src="/images/icons/expande perfil.svg" alt="expande perfil.svg">
        </button>
        <div class="dropdownContent">
          <a href="/user/profile">Profile</a>
          <hr>
          <a href="/auth/logout">Logout</a>
        </div>
      </li>
    </div>
  </ul>
</div>

<div class="row">
  <div class="leftContainer">
    <div class="textContainer">
      <h1>Atividade Desplugada</h1>
      <p>Texto de orientação do passo. Texto de orientação do passo. Texto de orientação do passo. Texto de orientação do passo. Texto de orientação do passo.</p>
    </div>
  </div>
  <div class="rightContainer">
    <div class="videoContainer">
      <iframe src="https://www.youtube.com/embed/-LJftYdN7Ck" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a href="/profile">Voltar</a>
      <a href="/lessons/<%= foundUser._id%>/mission">Missão</a>
    </div>
  </div>
</div>


<script type="text/javascript">


  $('#myProjectsTab').hide()

  $('#galleryBtn').click(function(){
    $('#allProjectsTab').show();
    $('#myProjectsTab').hide()
  })

  $('#myProjectsBtn').click(function(){
    $('#allProjectsTab').hide();
    $('#myProjectsTab').show()
  })


  $('#dropBtn').click(function(){
    console.log('dropBtn clicked');
    $('.dropdownContent').addClass('show')
  })

  $(window).click(function(e) {
    console.log(e.target, 'e.target.class');
    if(e.target.id != ('dropBtn' || 'dropBtnIcon')) {
      console.log('this is not dropBtn');
      $('.dropdownContent').removeClass('show')
    }else{
      console.log('this is dropBtn');
    }
  })

  function changeImage(){
    alert('changeImage called!')
  }

</script>
