<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="/blockly/blockly_compressed.js"></script>
    <script src="/blockly/blocks_compressed.js"></script>
    <script src="/blockly/javascript_compressed.js"></script>
    <script src="/blockly/msg/js/en.js"></script>
    <script src="/blockly/custom-blocks.js"></script>
    <script src="/scripts/builder.js"></script>
    <!-- <script src="/scripts/gameController.js"></script> -->
    <!-- <script type="text/javascript" src="../scripts/canvastest.js"></script> -->
    <link rel="stylesheet" href="/highlight/styles/atom-one-dark.css">
    <script src="highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3/dist/interact.min.js"></script>
    <link rel="stylesheet" href="/style/builder.css">
    <title></title>
  </head>
  <body>




<!-- Main NavBar -->


<div class="mainNav">



  <ul class="mainMenu">
    <li><a href="/profile/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 1 inicio inativo.svg" alt="nav branca - 1 inicio.svg">Início</a></li>
    <li><a href="/lessons/<%= foundUser._id%>"><img src="/images/icons/nav roxa - 2 trilha inativo.svg" alt="nav branca - 2 trilha.svg">Trilha</a></li>
    <li><a class="mainActive" href="/builder"><img src="/images/icons/nav roxa - 3 construtor ativo.svg" alt="nav branca - nav branca - 3 construtor.svg">Construtor</a></li>
    <li><a href="/projects/<%= foundUser._id %>"><img src="/images/icons/nav roxa - 4 projetos inativo.svg" alt="nav branca - 4 projetos.svg">Projetos</a></li>
    <div class="mainRight">
      <li><%= foundUser.firstName%> <%= foundUser.lastName %> | <%= foundUser.score.xp%> Pontos</li>
      <li>
        <img id="imgProfile" src="/images/profile_default.png" alt="profile_default.png">
        <button id="dropBtn" type="button" name="button">
          <img id="dropBtnIcon" src="/images/icons/expande perfil.svg" alt="expande perfil.svg">
        </button>
        <div class="dropdownContent">
          <a href="/user/profile">Profile</a>
          <hr>
          <a href="/auth/logout">Logout</a>
        </div>
      </li>
    </div>
  </ul>
</div>

<div class="row">
  <div class="leftContainer">
    <div class="builderNav">
      <ul class="builderNavMenu">
        <li><a class="btnBuilderNav" id="blocklyBtn" href="#">Blockly</a></li>
        <li><a class="btnBuilderNav" id="jsBtn" href="#">JavaScript</a></li>
        <li><a class="btnBuilderNav" id="designBtn" href="#">Design</a></li>
      </ul>
    </div>
    <div id="blocklyArea">
      <div id="blocklyDiv"></div>
    </div>

    <div id="jsArea">
        <pre><code class="javascript">
          <div id="jsCode"></div>
        </code></pre>
    </div>

    <div id="designArea">
      <button type="button" name="button" onclick="collisionDetection()">Detectar Colisão</button>
      <div class="sessionTitle">
        <h3>Background</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designCathegory">
        <img id="alienBackground001" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-001.png" alt="Alien-Planet-01-001.png">
        <img id="alienBackground002" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-002.png" alt="Alien-Planet-01-002.png">
        <img id="alienBackground003" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-003.png" alt="Alien-Planet-01-003.png">
        <img id="alienBackground004" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-004.png" alt="Alien-Planet-01-004.png">
        <img id="alienBackground005" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-005.png" alt="Alien-Planet-01-005.png">
        <img id="alienBackground006" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-006.png" alt="Alien-Planet-01-006.png">
        <img id="alienBackground007" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-007.png" alt="Alien-Planet-01-007.png">
        <img id="alienBackground008" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-008.png" alt="Alien-Planet-01-008.png">
        <img id="alienBackground009" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/background/Alien-Planet-01-009.png" alt="Alien-Planet-01-009.png">
      </div>
      <div class="sessionTitle">
        <h3>Cenário</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designCathegory">
        <img id="platform01" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/platform/Alien-Planet-01-t-a000.png" alt="Alien-Planet-01-t-a000.png">
        <img id="platform02" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/platform/Alien-Planet-01-t-a001.png" alt="Alien-Planet-01-t-a001.png">
        <img id="platform03" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/platform/Alien-Planet-01-t-b000.png" alt="Alien-Planet-01-t-b000.png">
        <img id="platform04" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/platform/Alien-Planet-01-t-b001.png" alt="Alien-Planet-01-t-b001.png">
        <img id="platform05" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/platform/Alien-Planet-01-t-c000.png" alt="Alien-Planet-01-t-c000.png">
        <img id="platform06" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/platform/Alien-Planet-01-t-c001.png" alt="Alien-Planet-01-t-c001.png">
      </div>
      <div class="sessionTitle">
        <h3>Personagens</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designCathegory">
        <img id="char01" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S01-Idle_0.png" alt="Charac_F-S01-Idle_0.png">
        <img id="char02" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S02-Idle_0.png" alt="Charac_F-S02-Idle_0.png">
        <img id="char03" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S03-Idle_0.png" alt="Charac_F-S03-Idle_0.png">
        <img id="char04" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S04-idle_0.png" alt="Charac_F-S04-Idle_0.png">
        <img id="char05" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S05-idle_3.png" alt="Charac_F-S05-Idle_3.png">
        <img id="char07" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S07-idle_0.png" alt="Charac_F-S07-Idle_0.png">
        <img id="char08" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S08-Idle_0.png" alt="Charac_F-S08-Idle_0.png">
        <img id="char09" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S09-Idle_0.png" alt="Charac_F-S09-Idle_0.png">
        <img id="char10" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/characters/Charac_F-S10-Idle_0.png" alt="Charac_F-S10-Idle_0.png">
      </div>
      <div class="sessionTitle">
        <h3>Objetos</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designCathegory">
        <img id="coinBronze" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/coin_01-bronze.png" alt="coin_01-bronze.png">
        <img id="coinGold" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/coin_01-gold.png" alt="coin_01-gold.png">
        <img id="coinSilver" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/coin_01-silver.png" alt="coin_01-silver.png">
        <img id="coinGold2" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/coin_02-gold.png" alt="coin_02-gold.png">
        <img id="coinSilver2" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/coin_02-silver.png" alt="coin_02-gold.png">
        <img id="jewelCrystal" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/jewel-crystal.png" alt="jewel-crystal.png">
        <img id="jewelDiamond" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/jewel-diamond.png" alt="jewel-diamond.png">
        <img id="jewelGem" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/jewel-gem.png" alt="jewel-gem.png">
        <img id="jewelQuartz" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/jewel-quartz.png" alt="jewel-quartz.png">
        <img id="jewelPendant" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/objects/jewel-pendant.png" alt="jewel-pendant.png">
      </div>
      <div class="sessionTitle">
        <h3>Controle (UI)</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designCathegory">
        <img id="upControl" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/controls/up-01.png" alt="up-01.png">
        <img id="downControl" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/controls/down-01.png" alt="up-01.png">
        <img id="leftControl" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/controls/left-01.png" alt="up-01.png">
        <img id="rightControl" draggable="true" ondragstart="drag(event)" src="/images/builder-assets/controls/right-01.png" alt="up-01.png">
      </div>

    </div> <!-- closing designArea -->

  </div> <!--Left Container -->
  <div class="rightContainer" ondrop="drop(event)" ondragover="allowDrop(event)">

    <!-- <img class="draggableAsset" id="cvsBlueDuck" src="/images/builder-assets/pato_azul_A25_Rectangle_28_pattern.png" alt="pato_azul_A25_Rectangle_28_pattern.pngcahrac" /> -->
    <!-- <div id="canvas"> -->
      <div class="bottomButtons">
        <div class="rightBtnContainer">
          <button id= "btnRun"type="button" onclick="runCode()" name="button"> <img id="playIcon"src="/images/icons/const - botao play.svg" alt="const - botao play.svg"> </button>
        </div>
        <div class="centerBtnContainer">
          <button id= "btnSave"type="button" name="button" data-toggle="modal" data-target="#myModal" onclick="saveProject()">Salvar</button>
          <button id= "btnPublish"type="button" onclick="testFetch()" name="button">Publicar</button>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>




<!-- NavBar do Menu Blockly -->
<!-- Blockly toolbox and workspace -->


    <xml id="toolbox" style="display: none">
      <category name="Eventos" colour="65">
        <block type="on_up_click"></block>
        <block type="on_down_click"></block>
        <block type="on_left_click"></block>
        <block type="on_right_click"></block>
        <block type="detect_colision"></block>
      </category>
      <category name="Movimento" colour="120">
        <block type="move_astronaut_up"></block>
        <block type="move_astronaut_down"></block>
        <block type="move_astronaut_left"></block>
        <block type="move_astronaut_right"></block>
      </category>
        <category name="Loops" colour="%{BKY_LOOPS_HUE}">
          <block type="controls_repeat_ext">
            <value name="TIMES">
              <block type="math_number">
                <field name="NUM">10</field>
              </block>
            </value>
          </block>
          <block type="controls_whileUntil"></block>
        </category>
        <category name="Lógica" colour="%{BKY_LOGIC_HUE}">
          <block type="controls_if"></block>
          <block type="logic_compare"></block>
          <block type="logic_operation"></block>
          <block type="logic_negate"></block>
          <block type="logic_boolean"></block>
        </category>
        <category name="Matemática" colour="%{BKY_MATH_HUE}">
          <block type="math_number">
            <field name="NUM">123</field>
          </block>
          <block type="math_arithmetic"></block>
          <block type="math_single"></block>
        </category>
        <category name="Log" colour="330">
          <block type="console_log"></block>
        </category>
    </xml>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/projects/new" method="POST">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Salvar Projeto</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


        <!-- Modal body -->
        <div class="modal-body">
          <p>Adicione um nome para o seu projeto:</p>
          <input type="text" name="name" value="Untitled">
          <!-- <input id="prjInput" type="hidden" name="prj"> -->
          <input id="playgroundInput" type="hidden" name="playground">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- var project = {author: `<%= foundUser._id%>`, name: '', xml: '', txt: '', playground: appendedAssets} -->



<!-- BLockly workspace script -->
    <script>
      var blocklyArea = document.getElementById('blocklyArea');
      var blocklyDiv = document.getElementById('blocklyDiv');
      var workspace = Blockly.inject(blocklyDiv,
        {toolbox: document.getElementById('toolbox')});
      var onresize = function(e) {
    // Compute the absolute coordinates and dimensions of blocklyArea.
        var element = blocklyArea;
        var x = 0;
        var y = 0;
        do {
          x += element.offsetLeft;
          y += element.offsetTop;
          element = element.offsetParent;
        } while (element);
      // Position blocklyDiv over blocklyArea.
        blocklyDiv.style.left = x + 'px';
        blocklyDiv.style.top = y + 'px';
        blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
        blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
        Blockly.svgResize(workspace);
      };
      window.addEventListener('resize', onresize, false);
      onresize();
      Blockly.svgResize(workspace);

    </script>



  <script>

//======================= JAVASCRIPT TAB CODE  ======================================


  $('#jsBtn').on('click', function (e) {
    e.preventDefault()
    console.log('JavaScript Tab was clicked');
    // Generate JavaScript code and display it.
    Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
    Blockly.JavaScript.addReservedWords('code');
    var code = Blockly.JavaScript.workspaceToCode(workspace);
    // alert(code);
    $('#jsCode').html(`${code}`)
  })

//======================= LOAD PROJECT IF IT EXISTS =============================



//======================= DROPDOWN MENU HIDE/SHOW LPOGIC =============================


  $('#dropBtn').click(function(){
    $('.dropdownContent').addClass('show')
  })

  $(window).click(function(e) {
    if(e.target.id != ('dropBtn' || 'dropBtnIcon')) {
      $('.dropdownContent').removeClass('show')
    }else{
    }
  })

//=========== BUILDER NAVBAR (BLOCKLY/ JS / DESIGN ) HIDE AND SHOW LOGIC ============

  $('#jsArea').hide();
  $('#designArea').hide();

  $('#blocklyBtn').click(function(){
    $('#blocklyArea').show();
    $('#jsArea').hide();
    $('#designArea').hide();
  })

  $('#jsBtn').click(function(){
    $('#blocklyArea').hide();
    $('#jsArea').show();
    $('#designArea').hide();
  })

  $('#designBtn').click(function(){
    $('#blocklyArea').hide();
    $('#jsArea').hide();
    $('#designArea').show();
  })

//=======================DRAG AND DROP FUNCTIONS ==================================


//-------- Array of Assets Objects


const assetsArray = [
  {ref: 'alienBackground001', id: 'cvsAlienBackground001', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-001.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground002', id: 'cvsAlienBackground002', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-002.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground003', id: 'cvsAlienBackground003', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-003.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground004', id: 'cvsAlienBackground004', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-004.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground005', id: 'cvsAlienBackground005', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-005.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground006', id: 'cvsAlienBackground006', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-006.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground007', id: 'cvsAlienBackground007', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-007.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground009', id: 'cvsAlienBackground009', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-009.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground010', id: 'cvsAlienBackground010', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-010.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground011', id: 'cvsAlienBackground011', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-011.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'alienBackground012', id: 'cvsAlienBackground012', class: 'draggableAsset', cathegory:'background', html: '<img src="/images/builder-assets/background/Alien-Planet-01-012.png" width="100%" height="100%" style="position:absolute; top:0; left:0">'},
  {ref: 'platform01', id: 'cvsPlatform01', class: 'draggableAsset', cathegory:'platform', imgPath: '/images/builder-assets/platform/Alien-Planet-01-t-a000.png', width: 'auto', height: '50px'},
  {ref: 'platform02', id: 'cvsPlatform02', class: 'draggableAsset', cathegory:'platform', imgPath: '/images/builder-assets/platform/Alien-Planet-01-t-a001.png', width: 'auto', height: '50px'},
  {ref: 'platform03', id: 'cvsPlatform03', class: 'draggableAsset', cathegory:'platform', imgPath: '/images/builder-assets/platform/Alien-Planet-01-t-b000.png', width: 'auto', height: '50px'},
  {ref: 'platform04', id: 'cvsPlatform04', class: 'draggableAsset', cathegory:'platform', imgPath: '/images/builder-assets/platform/Alien-Planet-01-t-b001.png', width: 'auto', height: '50px'},
  {ref: 'platform05', id: 'cvsPlatform05', class: 'draggableAsset', cathegory:'platform', imgPath: '/images/builder-assets/platform/Alien-Planet-01-t-c000.png', width: 'auto', height: '50px'},
  {ref: 'platform06', id: 'cvsPlatform06', class: 'draggableAsset', cathegory:'platform', imgPath: '/images/builder-assets/platform/Alien-Planet-01-t-c001.png', width: 'auto', height: '50px'},
  {ref: 'char01', id: 'cvsChar01', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S01-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char02', id: 'cvsChar02', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S02-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char03', id: 'cvsChar03', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S03-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char04', id: 'cvsChar04', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S04-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char05', id: 'cvsChar05', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S05-Idle_3.png', width: 'auto', height: '90px'},
  {ref: 'char07', id: 'cvsChar07', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S07-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char08', id: 'cvsChar08', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S08-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char09', id: 'cvsChar09', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S09-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'char10', id: 'cvsChar10', class: 'draggableAsset', cathegory:'character', imgPath: '/images/builder-assets/characters/Charac_F-S10-Idle_0.png', width: 'auto', height: '90px'},
  {ref: 'coinBronze', id: 'cvsCoinBronze', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/coin_01-bronze.png', width: 'auto', height: '50px'},
  {ref: 'coinGold', id: 'cvsCoinGold', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/coin_01-gold.png', width: 'auto', height: '50px'},
  {ref: 'coisSilver', id: 'cvsCoisSilver', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/coin_01-silver.png', width: 'auto', height: '50px'},
  {ref: 'coinGold2', id: 'cvsCoinGold2', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/coin_02-gold.png', width: 'auto', height: '50px'},
  {ref: 'coinSilver2', id: 'cvsCoinSilver2', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/coin_02-silver.png', width: 'auto', height: '50px'},
  {ref: 'jewelCrystal', id: 'cvsJewelCrystal', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/jewel-crystal.png', width: 'auto', height: '50px'},
  {ref: 'jewelDiamond', id: 'cvsJewelDiamond', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/jewel-diamond.png', width: 'auto', height: '50px'},
  {ref: 'jewelGem', id: 'cvsJewelGem', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/jewel-gem.png', width: 'auto', height: '50px'},
  {ref: 'jewelQuartz', id: 'cvsJewelQuartz', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/jewel-quartz.png', width: 'auto', height: '50px'},
  {ref: 'jewelPendant', id: 'cvsJewelPendant', class: 'draggableAsset', cathegory:'object', imgPath: '/images/builder-assets/objects/jewel-pendant.png', width: 'auto', height: '50px'},
  {ref: 'upControl', id: 'cvsUpControl', class: 'draggableAsset', cathegory:'control', imgPath: '/images/builder-assets/controls/up-01.png', width: 'auto', height: '100px'},
  {ref: 'downControl', id: 'cvsDownControl', class: 'draggableAsset', cathegory:'control', imgPath: '/images/builder-assets/controls/down-01.png', width: 'auto', height: '100px'},
  {ref: 'leftControl', id: 'cvsLeftControl', class: 'draggableAsset', cathegory:'control', imgPath: '/images/builder-assets/controls/left-01.png', width: '100px', height: 'auto'},
  {ref: 'rightControl', id: 'cvsRightControl', class: 'draggableAsset', cathegory:'control', imgPath: '/images/builder-assets/controls/right-01.png', width: '100px', height: 'auto'},
]

const appendedAssets = [];


  function drag(e) {
    e.dataTransfer.setData('asset', e.target.id)
  }

  function drop(e) {
    console.log(e, 'this is the Event Object');
    e.preventDefault();
    var posX = e.layerX;
    var posY = e.layerY;
    console.log('posX == ', posX);
    console.log('posY == ', posY);
    var data = e.dataTransfer.getData('asset')
    var assetHtml = getHtml(data, posX, posY);
    console.log(assetHtml, 'this is asset Html');
    addItems(assetHtml);
    appendedAssets.push(assetHtml);
    console.log(appendedAssets[0], 'All Assets');
  }

  var addItems = function(html) {
    var $html = $(html);
    $('.rightContainer').append($html)
  }





  //-------- Identifies the droped Object and finds and returns the respective Html Code.

  function getHtml(data, posX, posY){
    console.log(data, 'This is passed data');
    console.log('getHtml called');
    for (var i = 0; i < assetsArray.length; i++) {
      console.log(assetsArray[i].ref, 'assetsArray[i] id');
      if(assetsArray[i].ref === data){
        if(assetsArray[i].cathegory === 'background'){
          var newHtml = assetsArray[i].html
        }else{
          var foundAsset = assetsArray[i];
          // var newHtml = `${foundAssetHtml}style="position:absolute; top:${posX}px; right:${posY}px">`
          var newHtml = `<img id="${foundAsset.id}" class="${foundAsset.class}" src="${foundAsset.imgPath}" alt="game-asset" style="position:absolute; top:${posY}px; left:${posX}px; width:${foundAsset.width}; height:${foundAsset.height}">`
        }
      }
    }
    return newHtml;
  }

  function allowDrop(e) {
    e.preventDefault();
  }


  //=======================SAVE FUNCTION ======================================

  var project = {author: `<%= foundUser._id%>`, name: 'Untitled', xml: '', txt: '', playground: appendedAssets}




  // var project = {};
  function saveProject() {
    console.log('Save Project clicked');
    project.xml = Blockly.Xml.workspaceToDom(workspace);
    project.txt = Blockly.Xml.domToText(project.xml);
    console.log(document.getElementsByClassName('rightContainer')[0], 'rightContainer');
    console.log(project, 'project');

    var projectToSave = JSON.stringify(project)
    var projectToLoad = JSON.parse(projectToSave)

    document.getElementById('playgroundInput').value = projectToSave;

  } // ------------------- End of Save Project







  //=======================DRAGABLE INTERACT ==================================

  //JSInteraction Functions
  interact('.draggableAsset')
    .draggable({
      // enable inertial throwing
      inertia: false,
      // keep the element within the area of it's parent
      restrict: {
        restriction: "parent",
        endOnly: true,
        elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
      },
      // enable autoScroll
      autoScroll: true,

      // call this function on every dragmove event
      onmove: dragMoveListener,
      // call this function on every dragend event
      onend: function (event) {
        var textEl = event.target.querySelector('p');

        textEl && (textEl.textContent =
          'moved a distance of '
          + (Math.sqrt(Math.pow(event.pageX - event.x0, 2) +
                       Math.pow(event.pageY - event.y0, 2) | 0))
              .toFixed(2) + 'px');
      }
    });

    function dragMoveListener (event) {
      var target = event.target,
          // keep the dragged position in the data-x/data-y attributes
          x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
          y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

      // translate the element
      target.style.webkitTransform =
      target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)';

      // update the posiion attributes
      target.setAttribute('data-x', x);
      target.setAttribute('data-y', y);

      console.log(x, 'Drag Move X!');

    }

    // console.log(document.getElementById('#cvsRedDuck').currentX);

    // this is used later in the resizing and gesture demos
    // window.dragMoveListener = dragMoveListener;




//=======================BLOCOS ==================================


//-----------------TESTE COM MOVIMENTO



//BLockly FUNCTIONS

const astronaut = {
  moveRight: function() {
      console.log('moveRight function called!');
      var target = document.getElementById('cvsChar01'),
      x = (parseFloat(target.getAttribute('data-x') || 0) + 50),
      y = parseFloat(target.getAttribute('data-y') || 0);

      console.log(target.src, 'this is TRGET');
      target.style.webkitTransform =
      target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)';
      target.style.transition = '1s'

      document.getElementById('cvsChar01').setAttribute('data-x', x)
      document.getElementById('cvsChar01').setAttribute('data-y', y)
  },

  moveLeft: function() {
      console.log('moveLeft function called!');
      var target = document.getElementById('cvsChar01'),
      x = (parseFloat(target.getAttribute('data-x') || 0) - 50),
      y = parseFloat(target.getAttribute('data-y') || 0);


      target.style.webkitTransform =
      target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)';

      document.getElementById('cvsChar01').setAttribute('data-x', x)
      document.getElementById('cvsChar01').setAttribute('data-y', y)
  },

  moveUp: function() {
      console.log('moveUp function called!');
      var target = document.getElementById('cvsChar01'),
      x = parseFloat(target.getAttribute('data-x') || 0),
      y = (parseFloat(target.getAttribute('data-y') || 0) - 50);

      target.style.webkitTransform =
      target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)';

      document.getElementById('cvsChar01').setAttribute('data-x', x)
      document.getElementById('cvsChar01').setAttribute('data-y', y)
  },

  moveDown: function() {
      console.log('moveDown function called!');
      var target = document.getElementById('cvsChar01'),
      x = parseFloat(target.getAttribute('data-x') || 0),
      y = (parseFloat(target.getAttribute('data-y') || 0) + 50);

      target.style.webkitTransform =
      target.style.transform =
        'translate(' + x + 'px, ' + y + 'px)';

      document.getElementById('cvsChar01').setAttribute('data-x', x)
      document.getElementById('cvsChar01').setAttribute('data-y', y)
  },
}



var collisionDetection = function(name1, name2){

  console.log(name1, "this is Name1");

  console.log(name2, "This is name 2");
  var obj1 = document.getElementById(`${name1}`);
  var obj2 = document.getElementById(`${name2}`);


  console.log(obj1, 'This is OBJ 1');
  console.log(obj2, 'This is OBJ 2');

  var colideBox1 = {
    x: (parseInt(obj1.getAttribute('data-x') || 0) + parseInt(obj1.style.left.replace("px", ""))),
    y: (parseInt(obj1.getAttribute('data-y') || 0) + parseInt(obj1.style.top.replace("px", ""))),
    width: obj1.width,
    height: obj1.height,
  }

  var colideBox2 = {
    x: (parseInt(obj2.getAttribute('data-x') || 0) + parseInt(obj2.style.left.replace("px", ""))),
    y: (parseInt(obj2.getAttribute('data-y') || 0) + parseInt(obj2.style.top.replace("px", ""))),
    width: obj2.width,
    height: obj2.height,
  }

  if (colideBox1.x < colideBox2.x + colideBox2.width &&
   colideBox1.x + colideBox1.width > colideBox2.x &&
   colideBox1.y < colideBox2.y + colideBox2.height &&
   colideBox1.y + colideBox1.height > colideBox2.y) {
    // collision detected!
  return true;
}

  console.log(colideBox1, "colideBox1");
  console.log(colideBox2, "colideBox2");


}












  </script>


<!-- Bootstrap Scripts  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
